
# Created by https://www.gitignore.io/api/react,java-web
# Edit at https://www.gitignore.io/?templates=react,java-web

### Java-Web ###
## ignoring target file
target/

build/
### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_componets

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react,java-web